<% content_for(:title, "Contact | Personal Portfolio")%>

<div class="landing-page"></div>

<div id="contacts">
	<h1>- CONTACTS -</h1>

	<a href="http://twitter.com/the_wanjira" class="icon twitter"><i class="ion-social-twitter"></i><span></span></a>

	<a href="http://github.com/latashawanjira" class="icon github"><i class="ion-social-github"></i><span></span></a>

	<a href="http://linkedin.com" class="icon linkedin"><i class="ion-social-linkedin"></i><span></span></a>
</div>